[user]
	name = Patrick Elsen
	email = pelsen@xfbs.net
	signingkey = /home/patrick/.ssh/id_ed25519
[core]
	excludesfile = /Users/pelsen/.gitignore
[pull]
	rebase = true
[init]
	defaultBranch = master
[url "ssh://git@gitlab.com"]
	insteadOf = https://gitlab.com
