[user]
	name = Patrick Elsen
	email = pelsen@xfbs.net
	signingkey = /home/rick/.ssh/id_ed25519
[pull]
	rebase = true
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
