[submodule "tmux-srcery"]
	path = tmux/.config/tmux/tmux-srcery
	url = https://github.com/MindTooth/tmux-srcery/
[submodule "vim-sensible"]
	path = vim/.vim/pack/default/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "srcery-vim"]
	path = vim/.vim/pack/default/opt/srcery
	url = https://github.com/srcery-colors/srcery-vim
[submodule "swift.vim"]
	path = vim/.vim/pack/default/opt/swift
	url = https://github.com/keith/swift.vim
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/pack/default/opt/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "tmux/.tmux/tmux-prefix-highlight"]
	path = tmux/.config/tmux/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "tmux/.tmux/tmux-sensible"]
	path = tmux/.config/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "alacritty-osx/.config/alacritty/base16-alacritty"]
	path = alacritty-osx/.config/alacritty/base16-alacritty
	url = https://github.com/aaron-williamson/base16-alacritty
[submodule "vim/.vim/pack/default/opt/ctrlp"]
    path = vim/.vim/pack/default/opt/ctrlp
    url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/default/opt/better-whitespace"]
    path = vim/.vim/pack/default/opt/better-whitespace
    url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/.vim/pack/default/opt/vala"]
    path = vim/.vim/pack/default/opt/vala
    url = https://github.com/arrufat/vala.vim
[submodule "vim/.vim/pack/default/opt/editorconfig"]
    path = vim/.vim/pack/default/opt/editorconfig
    url = https://github.com/sgur/vim-editorconfig
[submodule "vim/.vim/pack/default/opt/meson"]
    path = vim/.vim/pack/default/opt/meson
    url = https://github.com/matze/vim-meson
[submodule "tmux/.config/tmux/tmux-battery"]
    path = tmux/.config/tmux/tmux-battery
    url = https://github.com/tmux-plugins/tmux-battery
[submodule "vim/.vim/pack/default/opt/kotlin-vim"]
	path = vim/.vim/pack/default/opt/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vim/.vim/pack/default/opt/vim-graphql"]
	path = vim/.vim/pack/default/opt/vim-graphql
	url = https://github.com/jparise/vim-graphql
